.detail{padding: 50px;}
.h3{border-bottom: 1px solid #ddd; padding-bottom: 5px;}
.detailWrap{margin-top: 30px;}
.text{border: 1px solid #ddd; padding: 50px; box-sizing: border-box;}
.title{border-bottom: 1px solid #ddd;padding-bottom: 5px;}
.description{margin-top: 10px;}