
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
ul{list-style: none;}

/* body {
  
  
} */

a {
  color: inherit;
  text-decoration: none;
}

.top-logo{
   height: 240px; 
   border-bottom: 1px solid #606060;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   top:0;
   left: 0;
}
.g-menu{height: 50px; border-bottom: 1px solid #ddd;}
.g-menu ul{ display: flex; align-items: center; justify-content: flex-end; height: 50px; width: 1300px; margin: 0 auto;}
.g-menu ul li{margin-left: 20px; color: #959393; font-size: 12px;}
.g-menu ul li span{cursor: pointer;}
.g-menu ul li a{color: #959393; font-size: 12px;}
.g-menu ul li a:hover{color: #2a2a2a}

.menu{height: 70px;}
.menu ul{ display: flex; align-items: center; justify-content: center; height: 70px; width: 1300px; margin: 0 auto;}
.menu ul li{margin: 10px;}
.menu ul li a{color: #3c3c3c}
.menu ul li a:hover{color: #03619f}
.banner .swipe img{width: 100%}
.banner .swipe .swiper-button-prev,.banner .swipe .swiper-button-next {
  color: #ccc
}

.new-arrival{margin-bottom: 100px;}
.new-arrival h2{text-align: center; margin-bottom: 10px; font-size: 24px;}
.new-arrival>p{text-align: center; color: #9c9c9c; font-size: 16px;}
.new-arrival>.new-wrap{ width: 1300px; margin: 50px auto 0 auto; display: flex; justify-content: space-between;}
.new-arrival>.new-wrap .new-card{ width: 420px;}
.new-arrival>.new-wrap .new-card img{width: 100%}
.new-arrival>.new-wrap .new-card .card-box{padding: 10px 0}
.new-arrival>.new-wrap .new-card .card-box .title{font-size: 18px; margin-bottom: 20px;}
.new-arrival>.new-wrap .new-card .card-box .price{font-size: 14px; margin-bottom: 10px;}
.new-arrival>.new-wrap .new-card .card-box .description{font-size: 14px;line-height: 180%;}

/* notice */
.notice-bg{padding: 100px 50px;}
.notice-bg p{text-align: center; padding-top: 10px; text-decoration: underline;}
.notice-bg h4{text-align: center; margin-bottom: 20px;}
.notice-bg table{border-collapse: collapse;  width: 100%}
.notice-bg table th{ border-bottom: 1px solid #ddd; padding: 5px }
.notice-bg table td{ border-bottom: 1px solid #ddd; padding: 10px }

.notice-bg table th:nth-child(1){width: 5%; text-align: center;}
.notice-bg table th:nth-child(2){width: 65%}
.notice-bg table th:nth-child(3){width: 10%; text-align:center}
.notice-bg table th:nth-child(4){width: 10%; text-align: center;}
.notice-bg table th:nth-child(5){width: 10%; text-align: center;}

.notice-bg table td:nth-child(1){width: 5%; text-align: center;}
.notice-bg table td:nth-child(2){width: 65%}
.notice-bg table td:nth-child(3){width: 10%; text-align: center; font-size: 14px;}
.notice-bg table td:nth-child(4){width: 10%; text-align: center;}
.notice-bg table td:nth-child(5){width: 10%; text-align: center;}
.notice-bg table td:nth-child(4) button{border: none; background: #dde4e7; padding:3px 10px;}
.notice-bg table td:nth-child(5) button{border: none; background: #f1d6bc; padding:3px 10px;}

.commentRe{border-bottom: 1px solid #ddd; line-height: 160%;}

/* write */
.write-wrap{padding: 100px 50px}
.write-wrap h4{margin-bottom: 20px; border-bottom: 1px solid #ddd; padding-bottom: 5px;}
.write-wrap input{width: 100%; padding: 5px 10px; margin-bottom: 5px; border:1px solid #ddd}
.write-wrap textarea{width: 100%; padding: 5px 10px;  border:1px solid #ddd}
.write-wrap button{border: none; padding: 5px 20px;}


.notice-item{
  opacity: 1;
  transition: all 1s;
}

.reg{padding: 50px}
.reg h2{text-align: center;}
.reg form{ width: 100%; max-width: 700px; margin: 20px auto;}
.reg form input{display: block; width: 100%; padding: 5px 10px; margin-bottom: 5px; border: 1px solid #ddd}
.reg form button{padding: 5px 10px; float: right; border: none; color: #fff; background: #222;}

.commit{padding-top: 20px;}

.input{width: 60%; padding: 5px; border: 1px solid #ddd; margin-right: 20px;}

.button{border: none; padding: 5px 10px}

.footer{width: 100%; height: 400px; border-top: 1px solid #ccc;}
.footer-inner{width: 1300px; margin: 0 auto; padding:30px 0}
.footer-inner>ul{display: flex; justify-content: space-between;}

.footer-inner>ul>li:not(:last-child){border-right: 1px solid #ddd; }
.footer-inner>ul>li:nth-child(1){padding-right: 100px;}
.footer-inner>ul>li:nth-child(2){padding-right: 100px;}
.footer-inner>ul>li:nth-child(3){padding-right: 100px;}
.footer-inner>ul>li h4{margin-bottom: 20px; color: #3b3b3b}
.footer-inner>ul>li p{margin-bottom: 20px;}
.footer-inner>ul>li ul>li{line-height: 150%;}
.footer-inner>ul>li ul>li> a{font-size: 14px; color: #ccc}